{{- $fullName := include "application.fullname" . -}}
{{- $labels := include "application.labels" . -}}

{{- range $volumeIndex, $volume := .Values.pod.volumes }}
{{- if or (not $volume.type) (eq $volume.type "pvc") }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ $fullName }}-volume-{{ $volume.name }}
  labels:
    {{- $labels | nindent 4 }}
spec:
  accessModes:
    {{- $volume.accessModes | toYaml | nindent 4 }}
  resources:
    requests:
      storage: {{ $volume.size }}
  {{- if $volume.storageClassName }}
  storageClassName: {{ $volume.storageClassName }}
  {{- end }}
{{- end }}
{{- end }}
